  .basis-auto {
    flex: 1 1 auto;
  }

  .button {
    color: var(--datan-white);
    height: 60px;
    max-width: 140px;
    cursor: pointer;
  }

  .title-container {
    color: var(--datan-white);
    display: flex;
    align-items: center;
    height: calc(100vh - 60px - 50px);
  }

  .title {
    text-align: center;
    padding: 20px 0px;
    font-weight: 600;
    font-size: calc(25px + 1vw);
  }


  .contre {
    background-color: var(--datan-red)
  }

  .pour {
    background-color: var(--datan-green)
  }

  .osef {
    background-color: var(--datan-yellow)
  }