.container {
  display: flex;
}

    /* see https://css-tricks.com/how-to-stack-elements-in-css/ */
  .card-stack {
    --card-width: 250px;
    --card-height: 370px;
      position: relative;
    width: var(--card-width);
    height: var(--card-height);
    perspective: 500px;
  }

  .card {
    background-color: var(--datan-white);
    position: absolute; 
    border-radius: 3px;
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .card-content {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
  }

  .card-stamp {
    position: absolute;
    opacity: 0;
    border-radius: 15px;
    padding: 5px;
  }

  .pour {
    color: var(--datan-green);
    font-size: 3em;
    transform: translate(5px, 200px) rotate(35deg);
    border: 5px solid var(--datan-green);
  }

  .contre {
    color: var(--datan-red);
    font-size: 2em;
    transform: translate(113px, 283px) rotate(-35deg);
    border: 5px solid var(--datan-red);
  }

  .osef {
    color: var(--datan-grey);
    font-size: 2em;
    transform: translate(52px, 297px) rotate(-9deg);
    border: 5px solid var(--datan-grey);
  }

