.container {
  display: flex;
  padding: 10px;
}

  .card-stack {
    --card-width: 250px;
    --card-height: 370px;
      position: relative;
    width: var(--card-width);
    height: var(--card-height);
    perspective: 500px;
  }

  .card {
    background-color: rgba(125, 125, 125, 0.836);
    border: 1px solid rgba(0,125,255,0.90);
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
  }

  .card-content {
    position: absolute;
    width: var(--card-width);
    height: var(--card-height);
  }

  .card-stamp {
    position: absolute;
    opacity: 0;
  }