:root {
    --datan-green: #00b794;
    --datan-blue: #00668e;
    --datan-grey: #4c4c4c;
    --datan-orange: #ff661a;
    --datan-white: #f3f5f6;
    --datan-black: #212529;
    --datan-yellow: #FFBA49;
    --datan-red: #C5283D;

    --header-height: 50px;
    --h-btn-ctn: 15vw;
    color: var(--datan-black);
    background-color: var(--datan-white);
    font-family: "Open Sans";
}

a {
    text-decoration: none;
}

.center-body {
    display: grid;
    grid-template-columns: auto minmax(0, 800px) auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". body .";
}

.body {
    grid-area: body;
    margin-bottom: calc(max(var(--h-btn-ctn), 60px));
}

.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-grow: 10;
    height: var(--h-btn-ctn);
    max-height: 160px;
    min-height: 60px;
    background: linear-gradient(rgba(0, 212, 255, 0) 0%, var(--datan-white) 66%, var(--datan-white)100%);
}

.flex {
    display: flex;
    flex: 1 1 0;
    flex-flow: row wrap;
}

.column {
    flex-direction: column;
}

.flex-static {
    flex: 0 0 auto;
}

.align-justify-center {
    align-content: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}


.no-decoration {
    text-decoration: none;
}

.datan-blue-bg {
    background-color: var(--datan-blue);
    color: rgba(255, 255, 255, 0.90);
}

.datan-green-bg {
    background-color: var(--datan-green);
    color: rgba(255, 255, 255, 0.90);
}

.margin {
    margin: 8px 10px;
}

.round-corner {
    border-radius: 5px;
}

.shadow {
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    position: relative;
}

.shadow:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: var(--header-height);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.85);
}

.opacity-hidden {
    opacity: 0;
}